# Python caches and bytecode
__pycache__/
*.py[cod]
*.pyo

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# IDE/editor files
.vscode/
*.code-workspace

# Jupyter
.ipynb_checkpoints/

# OS-specific
Thumbs.db
.DS_Store